body {
    background-color: antiquewhite;
}

#main {
    margin: 10px 10px 0px 10px;
}

#headingDiv {
    margin-left: 45%;
}

#imageDiv {
    height: 30%;
    width: 30%;
    margin: 5% 30% 5% 30%;
}

#instruction {
    margin: 0% 20% 0% 20%;
    font-weight: 200;
}

#videoDiv {
    margin: 0% 20% 0% 20%;
}

.clickbtn {
    font-size: 1.5rem;
    border-radius: 10px;
    width: 50vw;
}